.searchBar {
  padding: 10px;
  & input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    height: 45px;
    outline: none;
    font-size: 1.3rem;

    &:focus {
      border-bottom: 1px solid black;
    }
  }
}
